.faqbars_wrapper {
    width: 100%;
}

.faq_questions__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    // padding-bottom: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #bcbcbc32;
    border-radius: 12px;

    button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border: none;
        font-size: 1rem;
        font-weight: 400;
        color: rgb(0, 0, 0);
        cursor: pointer;
        transition: all .4s ease-in;
        background: none;

        .faq_question {
            font-size: 1.109rem;
            text-align: left;
        }

        .faq_icon {
            font-size: 1.5rem;
            color: rgb(0, 0, 0);
            transition: all .1.5s ease-in;
        }
    }
}

.faq_answer {
    display: none;
    padding: 1rem;
    padding-top: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(23, 22, 22, 0.7);
    transition: all .4s ease-in;
    text-align: left;
}

.faq_active.faq_answer {
    display: block;
}

.faq_active.faq_icon {
    transform: rotate(180deg);
}